<?xml version="1.0" encoding="utf-8"?>
<packages>
   <!-- Basic --> 

   <package id="chocolatey" />
   <package id="chocolateygui" />
   <!-- Browser und Extensionen -->
   <package id="googlechrome" />
   <!-- <package id="firefox" /> -->
   <package id="adblockpluschrome" />
   <package id="adblockplusie" />

   <!-- Antivirus -->
   <!-- <package id="kis" /> -->  <!-- https://chocolatey.org/packages?q=Kaspersky -->

   <!-- Alphabetisch Sortiert -->
   <package id="7zip.install" />
   <package id="adobereader" />
   <package id="adobedigitaleditions" />
   <package id="bind-toolsonly" />
   <package id="calibre" />
   <package id="keepassxc" />
   <package id="kindle" version="1.17" />
   <package id="notepadplusplus.install" />
   <package id="produkey" />
   <package id="kindle" />
   
   <!--     <package id="" />                -->
   <!-- Doku: Packages.config : https://chocolatey.org/docs/commandsinstall --> 
</packages>
