<?xml version="1.0" encoding="utf-8"?>
<packages>
   <!-- Basic --> 

   <package id="chocolatey" />
   <package id="chocolateygui" />
   <!-- Browser und Extensionen -->
   <package id="googlechrome" />
   <!-- <package id="firefox" /> -->
   <package id="adblockpluschrome" />
   <package id="adblockplusie" />

   <!-- Antivirus -->
   <!-- <package id="kis" /> -->  <!-- https://chocolatey.org/packages?q=Kaspersky -->
   <package id="avastfreeantivirus" />
   <!-- 2017-11 hat das avast install nicht funktioniert -->

   <!-- Alphabetisch Sortiert -->
   <package id="7zip.install" />
   <package id="adobereader" />
   <package id="bind-toolsonly" />
   <package id="dropbox" />
   <package id="keepassxc" />
   <package id="notepadplusplus.install" />
   <package id="produkey" />
   <package id="teamviewer" />
   <package id="thunderbird" />
   
   <!--     <package id="" />                -->
   <!-- Doku: Packages.config : https://chocolatey.org/docs/commandsinstall --> 

   <!-- Manuell Installieren: -->
   <!-- Linear Vereinsverwaltung: https://www.linear-vereinssoftware.de/ -->

</packages>
